body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url('/images/background_additional_routes.jpg'); /* fallback for older browsers */
  
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%), url('/images/background_additional_routes.jpg');
  
  }
  
  a {
    color: #00B7FF;
  }
  
  /* Navrar Styles */
  /* Change this breakpoint if you change the breakpoint of the navbar */
  
  @media (min-width: 992px) {
    .animate {
      animation-duration: 0.3s;
      -webkit-animation-duration: 0.3s;
      animation-fill-mode: both;
      -webkit-animation-fill-mode: both;
    }
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
  }
  
  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
  }
  
  .slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    background-color: transparent;
  }
  
  .slideIn .text-warning:hover {
    background-color: #000;
    opacity: 0.6;
  }
  
  .abm {
    height: 30px;
    width: 100px;
    background-color: transparent;
    border: transparent;
  }
  
  .bg-transparent {
    margin-top: 5vh;
  }
  
  .dropdown .text-warning {
    margin-right: 3ch;
  }
  /* Navbar styles end */
  
  /* Main element styles */
  .main-element {
    margin-top: 25vh;
  }
  
  .main-element .btn-lg {
    margin-top: 3vh;
    margin-right: 3ch;
    padding: 15px;
  }
  /***********************************/
  
  .footer {
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    bottom: 0;
  }