<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About Me</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <script src="/javascripts/jquery.slim.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>

        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
        <!---------------------------------------->

        <link rel="stylesheet" href="/stylesheets/about_me.css">
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand" href="/">
            <img src="/images/logo_3.png" width="120" height="60">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/additional_routes">Additional Routes</a></li>
                    <li class="nav-item"><a href="/collect_data">Collect Data</a></li>
                    <li class="nav-item"><a href="/request_response">Request & Response</a></li>
                    <li class="nav-item"><a href="/update_delete">Update & Delete</a></li>
                    <li class="nav-item active"><a href="/about_me">About Me</a></li>
                </ul>
            </div>
        </nav>
        <!------------------------------------------>

        <!-- Main Element -->
        <div class="container text-center main-element">
            <img src="/images/about_me_profile.svg" width="250" height="250">
            <h3>Md. Khaled uz Zaman</h3>

            <h4>My Networks</h4>
            <ul class="social-buttons">
                <li><a href="https://www.facebook.com/sporshozaman" target="_blank"><button type="button" class="btn btn-fb btn-outline-warning buttons"><i class="fab fa-facebook-f"></i></button></a></li>
                <li><a><button type="button" class="btn btn-tw btn-outline-warning buttons"><i class="fab fa-twitter"></i></button></a></li>
                <li><a><button type="button" class="btn btn-git btn-outline-warning buttons"><i class="fab fa-github"></i></button></a></li>
                <li><a><button type="button" class="btn btn-hr btn-outline-warning buttons"><i class="fab fa-hackerrank"></i></button></a></li>
                <li><a><button type="button" class="btn btn-li btn-outline-warning buttons"><i class="fab fa-linkedin-in"></i></button></a></li>
            </ul>

        </div>
        <!------------------------------------------>

        <!-- Footer -->
        <footer class="footer mt-auto py-3 fixed-bottom">
            <div class="container text-center">
              <span class="text-warning">&copy; All rights reserved by Khaled</span>
            </div>
        </footer>
          <!-- Footer end -->
    </body>
</html>