<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>

    <!-- Scripts -->
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <!-- Scripts end -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/about_me.css' />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <div class="box">
        <a href="/"><img src="/images/logo_3.png" class="mylogo" alt="Home"></a>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/additional_routes">Additional Routes</a></li>
            <li><a href="/collect_data">Collect Data</a></li>
            <li><a href="/request_response">Request & Response</a></li>
            <li><a href="/Update_delete">Update & Delete</a></li>
            <li class="active"><a href="#">About Me</a></li>    
        </ul>

        <div class="text-center photo">
            <img src="/images/about_me_profile.svg" class="img-circle avatar">
            <p class="text-warning"><b>Md. Khaled uz Zaman</b></p>
        </div>

        <div class="mysocial">
                <h3 class="text-warning"><b>My Networks</b></h3>
                <!--Email-->
                <button type="button" class="btn btn-email button btn-outline-warning"><i class="fas fa-envelope"></i></button>
                <!--Github-->
                <button type="button" class="btn btn-git button btn-outline-warning"><i class="fab fa-github"></i></button>
                <!--Facebook-->
                <button type="button" class="btn btn-fb button btn-outline-warning"><i class="fab fa-facebook-f"></i></button>
                <!-- Hackerrank -->
                <button type="button" class="btn btn-hr button btn-outline-warning"><i class="fab fa-hackerrank"></i></button>
                <!--Linkedin-->
                <button type="button" class="btn btn-li button btn-outline-warning"><i class="fab fa-linkedin-in"></i></button>
                <!--Stack Overflow-->
                <button type="button" class="btn btn-so button btn-outline-warning"><i class="fab fa-stack-overflow"></i></button>
            </div>
    </div>


    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
          <span class="text-warning">&copy; All rights reserved by Khaled</span>
        </div>
      </footer>
      <!-- Footer end -->
</body>
</html>