<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Additional Routes</title>

    <!-- Bootstrap -->
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/additional_routes.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand" href="/">
    <img src="/images/logo_3.png" width="120" height="60">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="/">Home</a></li>
            <li class="nav-item active"><a href="/additional_routes">Additional Routes</a></li>
            <li class="nav-item"><a href="/collect_data">Collect Data</a></li>
            <li class="nav-item"><a href="/request_response">Request & Response</a></li>
            <li class="nav-item"><a href="/update_delete">Update & Delete</a></li>
            <li class="nav-item"><a href="/about_me">About Me</a></li>
        </ul>
    </div>
</nav>
<!------------------------------------------>
    
    <!-- Main elements -->
    <div class="container text-center main-element">
        <h1 class="mt-5 text-white font-weight-light text-warning">Choose Your Way!</h1>
        <a href="/collect_data"><button class="btn btn-outline-success btn-lg"><h5><b>Collect Data</b></h5></button></a>
        <a href="/request_response"><button class="btn btn-outline-info btn-lg"><h5><b>Request & Response</b></h5></button></a>
        <a href="/additional_routes"><button class="btn btn-outline-danger btn-lg"><h5><b>Update & Delete</b></h5></button></a>
        <a href="/"><button class="btn btn-outline-warning btn-lg"><h5><b>Back to Home</b></h5></button></a>
    </div>
          <!-- Main elements end -->
    
    <!-- Footer -->
    <footer class="footer mt-auto py-3">
        <div class="container text-center">
          <span class="text-warning">&copy; All rights reserved by Khaled</span>
        </div>
    </footer>
    <!-- Footer end -->
</body>
</html>