<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <!-- Scripts -->
    <script src="/javascripts/jquery.slim.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <!-- Scripts end -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
            <a class="navbar-brand" href="/">
            <img src="/images/logo_3.png" width="120" height="60">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/">Home</a></li>
                    <li class="nav-item"><a href="/additional_routes">Additional Routes</a></li>
                    <li class="nav-item"><a href="/collect_data">Collect Data</a></li>
                    <li class="nav-item"><a href="/request_response">Request & Response</a></li>
                    <li class="nav-item"><a href="/update_delete">Update & Delete</a></li>
                    <li class="nav-item"><a href="/about_me">About Me</a></li>
                </ul>
            </div>
        </nav>
    <!-- Navbar end -->
    
    <!-- Main elements -->
    <div class="container text-center main-element">
      <iframe src="http://free.timeanddate.com/clock/i6pef27f/n73/fn12/fs32/fcffc107/tct/pct/ftb/th2" frameborder="0" width="214" height="40" allowTransparency="true"></iframe>
      <h1 class="mt-5 text-white font-weight-light text-warning">E-Commerce Lab Activity</h1>
      <a href="/additional_routes"><button class="btn btn-outline-warning"><h5><b>Explore More</b></h5></button></a>
    </div>
    <!-- Main elements end -->

    <!-- Footer -->
    <footer class="footer mt-auto py-3">
      <div class="container text-center">
        <span class="text-warning">&copy; All rights reserved by Khaled</span>
      </div>
    </footer>
    <!-- Footer end -->
    
  </body>
</html>
