<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Request | Response</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <h1>Request & Response</h1><hr>
    <a href="/update_delete">Go to Update & Delete</a><br>
    <a href="/collect_data">Go to Collect Data</a><br>
    <a href="/additional_routes">Go to Additional Routes</a><br>
    <a href="/">Back to home</a><br>
    </body>
</html>